.btn-blue{
  font-size: 2rem;
  text-decoration: none;
  text-transform: none;
  margin: 16px;
  display: inline-flex;
  padding: 10px 30px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  border-radius: 16px;
  background-color: rgba(0, 117, 141, 1);
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

